body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  min-height: 100vh;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Bodoni", serif;

  text-transform: capitalize;
  text-decoration: none;
  outline: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: aqua;
  box-shadow: 0.5px 10px coral;
  padding: 0px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header.logo {
  font-weight: bolder;
  font-size: 25px;
  color: blue;
}

header.navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  color: orange;
  display: block;
}
header .navbar ul li a:hover {
  background: palevioletred;
  color: green;
}
header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: violet;
  display: none;
}

header .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid black;
}

header .navbar ul li ul li ul {
  left: 200px;
  top: 0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
  display: initial;
}
#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: black;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  header {
    padding: 20px;
  }
  header label {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: ivory border-top, 1px solid black;
    display: none;
  }
  header .navbar ul li {
    width: 100%;
  }
  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }
  header .navbar ul li ul li {
    background: brown;
  }
  header .navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }
  #menu-bar:checked .navbar {
    display: initial;
  }
}
#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 0, 106, 0.4);
}
form {
  max-width: 550px;
  width: 90%;
  background: white;
  margin: 17vh, auto, 0, auto;
  padding: 40px;
  border-radius: 3px;
  box-sizing: border-box;
}
h1 {
  margin: 0;
  text-align: center;
}

label {
  display: block;
  margin: 20px 0;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid #d3d3d3;
}
input[type="text"]:focus,
textarea:focus {
  border-bottom: 1px solid rgb(255, 0, 106);
}
textarea::-webkit-scrollbar {
  width: 4px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 106);
}
.center {
  text-align: center;
}
input[type="submit"] {
  margin-top: 30px;
  width: 90%;
  max-width: 200px;
  background: blue;
  color: black;
  font-size: 17px;
  cursor: pointer;
  border-radius: 3px;
}
.error {
  color: red;
}
.error border {
  border-bottom: 1px solid red;
}
#sucess {
  color: green;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.conteiner {
  max-width: 1170px;
  background: red;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: orange;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  font-weight: 500;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: yellowgreen;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: blue;
  text-decoration: none;
  font-weight: 500;
  color: black;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: yellow;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: violet;
  margin-right: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: brown;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: chocolate;
  background-color: cornflowerblue;
}
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
